{{page-title "Chats"}}
<div class="m-0 pt-6">
    <div class="font-bold text-xl px-6 mb-2">Chats</div>
    <div class="mb-4 px-4">

        {{!-- Search section --}}
        <div class="form-control">
            <div class="input-group">

                {{!-- Search Input --}}
                 <input type="text" placeholder="Search messages or users" class="input input-bordered w-full bg-[#e7ebf4] border-none" {{ on "input" this.updateSearchValue}} value={{this.searchValue}}/>

                 {{!-- Modal button --}}
                <label class="btn btn-square modal-button bg-[#e7ebf4] border-none hover:bg-gray-500" for="my-modal">
                    <svg class="h-6 w-6 text-gray-500 hover:text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"/>
                    </svg>
                </label>
            </div>
        </div>
        <input type="checkbox" id="my-modal" class="modal-toggle" />
        <div class="modal">
            <div class="modal-box">
                <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
                <p class="py-4">You've been selected for a chance to get one year of subscription to use Wikipedia for free!</p>
                <div class="modal-action">
                    <label for="my-modal" class="btn">Yay!</label>
                </div>
            </div>
        </div>
    </div>

    {{!-- Recents section --}}
    <div class="font-bold text-lg px-6 mb-2">Recent</div>
    <div class="m-0 overflow-y-auto h-full">
        {{#each this.contactListDisplayed as |item|}}
            <Chat @name="{{item.name}}" @lastname="{{item.lastname}}" @image="{{item.image}}"/>
        {{/each}}
    </div>
</div>