<div class="m-0 pt-6">
    <div class="text-xl font-bold px-4">My profile</div>
    {{!-- Avatar section --}}
    <div class="p-4 grid justify-center">
        <div class="avatar grid justify-center">
            <div class="w-24 rounded-full ">
                <img src="https://placeimg.com/192/192/people" />
            </div>
        </div>
        <div class="text-lg font-bold grid justify-center mt-4">{{ this.userLogged.name }}&nbsp;{{ this.userLogged.lastname }}</div>
        <div class="grid justify-center content-center">
            <div class="rating flex items-stretch">
                <input type="radio" name="rating-2" class="w-2 h-2 mask mask-circle bg-green-500 self-center cursor-default"/><span class="ml-4">Active</span>
            </div>
        </div>
    </div>

    {{!-- Description/Summary section --}}
    <div class="text-sm text-justify px-6">
        {{this.userLogged.description}}
    </div>

    {{!-- Contact information --}}
    <div class="px-4 mt-8">
        <div class="px-4 pb-4 flex">
            <span class="mr-2">
                <svg class="h-6 w-6 text-black"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/></svg>
            </span>
            <span>About</span>
        </div>
        <div class="card bg-base-100 shadow-sm rounded-none">
            <div class="card-body m-0 p-2">
                {{!-- Name --}}
                <div class="px-4">
                    <div class="text-xs font-bold">Name</div>
                    <div class="text-sx">{{ this.userLogged.name }}&nbsp;{{ this.userLogged.lastname }}</div>
                    <div class="divider m-0 p-0"></div> 
                </div>

                {{!-- Email --}}
                <div class="px-4">
                    <div class="text-xs font-bold">Email</div>
                    <div class="text-sx">{{ this.userLogged.email }}</div>
                    <div class="divider m-0 p-0"></div> 
                </div>

                {{!-- Phone --}}
                <div class="px-4">
                    <div class="text-xs font-bold">Phone number</div>
                    <div class="text-sx">{{ this.userLogged.phone }}</div> 
                </div>
            </div>
        </div>
    </div>

</div>