<div class="grid grid-cols-3 py-4 hover:bg-accent cursor-pointer" {{on 'click' (fn this.chatService.setCurrentChat @sid)}}>
    {{!-- Avatar image --}}
    <div class="avatar grid justify-center content-center placeholder">
        <div class="w-10 h-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 grid justify-center content-center">
            {{#if @image}}
                <img src="{{@image}}" />
            {{else}}
                <span class="text-3xl">{{substring @name start=0 end=1}}</span>
            {{/if}}
        </div>
    </div>
    <div class="col-span-2">
        <div class="flex justify-between pr-4 align-center">
            <span class="font-bold">{{ @name }}&nbsp;{{@lastname}}</span>
            <span class="text-sm">{{this.lastMessageDate}}</span>
        </div>
        <div class="text-base">
            {{this.firstMessage}}
        </div>
    </div>
</div>