<div class="m-0 p-0 h-full flex flex-col">
    <div class="shadow-lg flex flex-row justify-between items-center h-16 px-4">
        <div class="flex items-center flex-row">
            <div class="avatar grid justify-center content-center placeholder">
                <div class="w-10 h-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2 grid justify-center content-center bg-slate-800 text-white flex items-center">
                    {{#if @image}}
                        <img src="{{@image}}" />
                    {{else}}
                        <span class="text-3xl">{{substring "Carlos" start=0 end=1}}</span>
                    {{/if}}
                </div>
            </div>
            <span class="font-bold text-lg ml-6">
                Carlos Moto
            </span>
        </div>

        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn m-1 btn-outline hover:bg-gray-100 border-none">
                <svg class="h-6 w-6 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="5" cy="12" r="1" />  <circle cx="12" cy="12" r="1" />  <circle cx="19" cy="12" r="1" /></svg>
            </label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 py-4">
                <li class="text-center">Delete conversation</li>
            </ul>
        </div>
    </div>
    <div class="m-0 h-fit overflow-y-auto px-6 pt-4">
        <Message @mine={{false}} />
        <Message @mine={{true}} />
        <Message @mine={{true}} />
        <Message @mine={{false}} />
    </div>
    <div class="m-0 h-20 border-t-2 w-full mt-auto flex items-center flex-row px-6 py-4">
        <input type="text" placeholder="Type message" class="input input-bordered w-full bg-[#e7ebf4] border-none"/>
        <button class="btn btn-primary mx-2" type="button">
            <svg class="h-6 w-6 text-white"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="10" y1="14" x2="21" y2="3" />  <path d="M21 3L14.5 21a.55 .55 0 0 1 -1 0L10 14L3 10.5a.55 .55 0 0 1 0 -1L21 3" /></svg>
        </button>
    </div>
</div>