<div class="grid grid-cols-5 py-4 hover:bg-accent cursor-pointer" {{on 'click' (fn this.chatService.setCurrentChat @sid)}}>
    {{!-- Avatar image --}}
    <div class="avatar grid justify-center content-center placeholder col-span-1">
        <div class="w-10 h-10 rounded-full ring ring-purple-600 ring-offset-base-100 ring-offset-2 grid justify-center content-center {{if (eq this.themeService.currentTheme "darkOriginal") "bg-white text-black" "bg-slate-800 text-white" }}">
            {{#if @image}}
                <img src="{{@image}}" />
            {{else}}
                {{#if @name}}
                    <span class="text-3xl">{{substring @name start=0 end=1}}</span>
                {{else}}
                    <span class="text-3xl">{{substring "User" start=0 end=1}}</span>
                {{/if}}
            {{/if}}
        </div>
    </div>
    <div class="col-span-4">
        <div class="flex justify-between pr-4 align-center">
            <span class="font-bold">{{if @name @name "Unknown"}}&nbsp;{{if @lastname @lastname "contact"}}</span>
            <span class="text-sm">{{this.lastMessageDate}}</span>
        </div>
        <div class="text-base">
            {{this.firstMessage}}
        </div>
    </div>
</div>